body {
    margin: 0%;
    padding: 0%;
}

#Banner {
    background-image: url(images/Banner-pic.jpg);
    height: 500px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0%;

}

.first-work h1 {
    font-size: 65px;
    margin: 0%;
    padding: 0%;
    color: #fff;
}

span {
    color: rgb(255, 0, 0);
}

.first-work p {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.491);
}

#donate-button {
    font-family: 'Gulzar', serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(to top, rgb(71, 125, 137), rgb(113, 193, 215));
    border-radius: 20px;
    padding: 10px 20px;
}

section .all-text {
    text-align: center;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.donate-amount {
    text-align: center;
}

.attention {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.attention h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: coral;
    padding-bottom: 0%;
}

.attention p {
    font-size: 20px;
    color: dimgray;
}

.amount-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0%;
    margin-left: 40px;
    margin-right: 40px;

}

.number {
    text-align: center;
    width: 200px;
    height: 100%;
    background-color: bisque;
    margin: 20px;
    box-sizing: border-box;
    padding: 10px, 20px;

}

#selected {
    background-color: rgb(245, 177, 117);
    border: 1px solid orangered;
}

.taka {
    width: 300px;
    height: 20px;
    border: none;
    border-bottom: 0.5px solid black;
}

label {
    text-align: center;
    color: gray;
}



.upper {
    color: aquamarine;
    font-size: 30px;
    background-color: #000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 0px;
}

.lower {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 0px;
}