body {
    margin: 0%;
    padding: 0%;
}

#Banner {
    background-image: url(images/Banner-pic.jpg);
    height: 500px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0%;

}

.first-work h1 {
    font-size: 65px;
    margin: 0%;
    padding: 0%;
    color: #fff;
}

span {
    color: rgb(255, 0, 0);
}

.first-work p {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.491);
}

#donate-button {
    font-family: 'Gulzar', serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(to top, rgb(71, 125, 137), rgb(113, 193, 215));
    border-radius: 20px;
    padding: 10px 20px;
}

section .all-text {
    text-align: center;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.donate-amount {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;

}

.attention {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.attention h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: coral;
    padding-bottom: 0%;
}

.attention p {
    font-size: 20px;
    color: dimgray;
}

.amount-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0%;
    margin-left: 40px;
    margin-right: 40px;

}

.number {
    text-align: center;
    width: 200px;
    height: 100%;
    background-color: bisque;
    margin: 20px;
    box-sizing: border-box;
    padding: 10px, 20px;

}

#selected {
    background-color: rgb(245, 177, 117);
    border: 1px solid orangered;
}

.taka {
    width: 30%;
    height: 20px;
    border: none;
    border-bottom: 0.5px solid black;
    margin-left: 35%;
    margin-right: 35%;
}

label {
    font-size: 20px;
    text-align: center;
    color: gray;
    margin-left: 40%;
    margin-right: 40%;
}

#Donet-Now {
    font-family: 'Gulzar', serif;
    font-size: 16px;
    font-weight: 700;
    background-color: lightsalmon;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 43%;
    margin-right: 45%;
    width: 10%;
}

.decoration {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.video {
    text-align: center;
    background-color: antiquewhite;
    padding: 2%;
}

.video h1 {
    font-size: 25px;
    color: lightslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.third {
    text-align: center;
}

.plan-intro h1 {
    color: chocolate;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 0px;
}

.plan-intro p {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 0px 30px 0px 30px;
}

.plans-deco {
    display: flex;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.plans-deco i {
    font-size: 50px;
}

.plans {
    text-align: center;
    background-color: rgba(255, 127, 80, 0.458);
    box-shadow: 1px 1px 1px 1px rgba(255, 119, 0, 0.652);
    margin: 20px 20px;
    padding: 50px 30px;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.input-back-deco {
    width: 450px;
    background: rgb(253, 237, 191);
    padding: 30px;
    box-shadow: 0px 0px 0px rgba(163, 162, 162, 0.493);
    margin-left: 30%;
    margin-right: 30%;
}

.input-deco {
    width: 50%;
    height: 50%;
}

.contact h1 {
    font-size: 40px;
    color: coral;
}

.contact p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.contact {
    text-align: center;
}

.send {
    text-decoration: none;
    font-size: 14px;
    background-color: rgb(167, 125, 74);
    color: rgb(240, 232, 221);
    padding: 5px 10px;
}

.get {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;


}

.upper {
    color: aquamarine;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    background-color: #000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: auto;
    width: 100%;
    margin-bottom: 0px;
}

.lower {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #000;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 0px;
}