body {
    margin: 0%;
    padding: 0%;
}

#Banner {
    background-image: url(images/Banner-pic.jpg);
    height: 500px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0%;

}

.first-work h1 {
    font-size: 65px;
    margin: 0%;
    padding: 0%;
    color: #fff;
}

span {
    color: rgb(255, 0, 0);
}

.first-work p {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.491);
}

#donate-button {
    font-family: 'Gulzar', serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    background-image: linear-gradient(to top, rgb(71, 125, 137), rgb(113, 193, 215));
    border-radius: 20px;
    padding: 10px 20px;
}

section .all-text {
    text-align: center;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}








.upper {
    color: aquamarine;
    font-size: 30px;
    background-color: #000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 0px;
}

.lower {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 0px;
}